@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #d4d4d4; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
